<h1>Index</h1>
<p>Sven Co-op AngelScript API documentation.</p>
<h2>Contents</h2>
<ul>
	<li><a href='/Classes'>Classes</a></li>
	<li><a href='/Enums'>Enumerations</a></li>
	<li><a href='/Functions'>Global Functions</a></li>
	<li><a href='/Properties'>Global Properties</a></li>
	<li><a href='/Functions'>Global Functions</a></li>
	<li><a href='/FuncDefs'>Function Definitions</a></li>
	<li><a href='/Typedefs'>Type Definitions</a></li>
	<li><a href='/Interfaces'>Global Interfaces</a></li>
	<li><a href='/Namespaces'>Namespaces</a></li>
</ul>
<h2>Info</h2>
<ul>
	<li>Sven Co-op: {{GameVersion}}</li>
	<li>SC API version: {{APIVersion}}</li>
	<li>Docs revision: {{DocVersion}}</li>
</ul>
<h2>More</h2>
<ul>
	<li><a href='https://github.com/sven-coop/sven-coop.github.io'>source</a></li>
	<li><a href='https://baso88.github.io/SC_AngelScript/docs/'>baso88's documentation</a></li>
	<li><a href='https://github.com/baso88/SC_AngelScript/wiki/'>baso88's GitHubWiki</a></li>
	<li><a href='https://anggaranothing.gitlab.io/as/svencoop/'>anggaranothing's documentation</a></li>
	<li><a href='https://www.angelcode.com/angelscript/sdk/docs/manual/index.html'>Angelscript documentation</a></li>
</ul>